@{
    Layout="_Layout";
    var Published = Model.Get<DateTime>(BlogKeys.Published);   
    var Tags = Model.Get<string[]>(BlogKeys.Tags)?.OrderBy(x => x).ToArray() ?? new string[] {};
    var Lead = Model.String(BlogKeys.Lead);

    var PrevPost = Documents[Blog.BlogPosts]
      .OrderBy(p => p.Get<DateTime>(BlogKeys.Published))
      .SkipWhile(x => !x.Source.Equals(Model.Source))
      .FirstOrDefault();
    var NextPost = Documents[Blog.BlogPosts]
      .OrderBy(p => p.Get<DateTime>(BlogKeys.Published))
      .SkipWhile(x => !x.Source.Equals(Model.Source))
      .Skip(1)
      .FirstOrDefault();
}

<header class="header-section">
  <div class="intro-header no-img">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
          <div class="post-heading">
            <h1>@Model.WithoutSettings.String(BlogKeys.Title)</h1>
            @if (!string.IsNullOrEmpty(Lead))
            {
              <span class="post-subheading">@Lead</span>
            }
            <span class="post-meta">
              Posted on @Published.ToShortDateString()
              @if (Tags != null && Tags.Any())
              {
                <text>in </text>
                @foreach (string tag in Tags){ 
                  IDocument tagDocument = Documents[Blog.Tags].FirstOrDefault(x => x.String(BlogKeys.Tag)== tag && x.Get<int>(Keys.CurrentPage) == 1); 
                  if(tagDocument != null) {
                      <a href="@Context.GetLink(tagDocument)">@tag</a>
                      @if (tag != Tags.Last())
                      {
                        <text>, </text>
                      }
                  }
                }
              }
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="row">
  <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

    <article role="main" class="blog-post">
      @RenderBody()
    </article>

    <!--
    {% if page.social-share %}
      {% include social-share.html %}
    {% endif %}
    -->

    <ul class="pager blog-pager">
      @if (PrevPost != null)
      {
      <li class="previous">
        <a href="@Context.GetLink(PrevPost)" data-toggle="tooltip" data-placement="top" title="@PrevPost.WithoutSettings.String(BlogKeys.Title)">&larr; Previous Post</a>
      </li>
      }
      @if (NextPost != null)
      {
      <li class="next">
        <a href="@Context.GetLink(NextPost)" data-toggle="tooltip" data-placement="top" title="@NextPost.WithoutSettings.String(BlogKeys.Title)">Next Post &rarr;</a>
      </li>
      }
    </ul>

    <!-- COMMENTS -->
    <div id="disqus_thread"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'bojanveljanovski'; // required: replace example with your forum shortname
        var disqus_identifier = '@Model.FilePath(Keys.RelativeFilePath).FileNameWithoutExtension.FullPath';
        var disqus_title = '@Model.String(BlogKeys.Title)';
        var disqus_url = '@Context.GetLink(Model, true)';

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
        
        (function () {
            var s = document.createElement('script'); s.async = true;
            s.type = 'text/javascript';
            s.src = '//' + disqus_shortname + '.disqus.com/count.js';
            (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
        }());
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
  </div>
</div>
  
